<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Авторизація</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" type="text/css" href="styles/media.css">

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
</head>
<body>
<div class="container">
    <div class="background light">
        <div th:replace="basic_inc/header :: header"></div>
        <main>
            <div class="tickets-info">
                <img src="images/icons/ticket-plane.svg">
                <div class="search-info">
                    <span>Бориспiль (UA) → Лос-Анджелес (US)</span>
                    <span>19.11.2020</span>
                </div>
                <a href="#" class="change-search-btn">Змінити умови пошуку</a>
            </div>
            <div class="background dark">
                <div class="tickets-table avia">
                    <div><a href="#"><img src="images/icons/settings.svg">Пересадки</a></div>
                    <div><a href="#"><img src="images/icons/time.svg">Час перельоту</a></div>
                    <div><a href="#"><img src="images/icons/placeholder.svg">Аеропорти</a></div>
                    <div><a href="#"><img src="images/icons/airplane.svg">Авіакомпанії</a></div>
                </div>
                <div class="tickets">
                    <div class="ticket-avia" th:each="trip : ${trips}">
                        <div class="ticket-avia-info">
                            <img src="images/icons/lufthansa.svg">
                            <div class="ticket-zhd-info">
                                <div>Рейс <span th:text="${trip.tripName}"></span></div>
                                <div class="ticket-small">Економ-клас</div>
                            </div>
                            <div class="ticket-time-date">
                                <div th:text="${trip.departureTime}"></div>
                                <div class="ticket-small" th:text="${trip.departureDate}"></div>
                            </div>
                            <div class="ticket-timeline">
                                <span><span th:text="${trip.durationHours}"></span> год. <span th:text="${trip.durationMinutes}"></span> хв.</span>
                            </div>
                            <div class="ticket-time-date">
                                <div th:text="${trip.arrivalTime}"></div>
                                <div class="ticket-small" th:text="${trip.arrivalDate}"></div>
                            </div>
                            <div class="ticket-zhd-type">
                                <div class="ticket-small">Ручна поклажа</div>
                                <div class="ticket-small">Багаж: не входить у вартість</div>
                            </div>
                            <a href="#" class="change-search-btn route">Детальніше про рейс</a>
                        </div>
                        <div class="ticket-avia-choose">
                            <div class="ticket-zhd-price">₴ <span th:text="${trip.price}"></span></div>
                            <a href="#" class="ticket-choose-btn">Вибрати</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="basic_inc/footer_main :: footer_main"></div>
    </div>
</div>
</body>
<script type="text/javascript" src="/script/script.js"></script>
</html>