<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Авторизація</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" type="text/css" href="styles/media.css">

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
</head>
<body>
<div class="container account">
    <div class="background">
        <div th:replace="basic_inc/header :: header"></div>
        <main>
            <div class="row">
                <div class="login">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Авторизація</h3>
                        </div>
                        <div class="panel-body">
                            <!--/*@thymesVar id="logout" type=""*/-->
                            <div th:if="${logout}">
                                <div class="alert alert-info" role="alert">Ви уcпішно вийшли.</div>
                            </div>
                            <!--/*@thymesVar id="error" type=""*/-->
                            <div th:if="${error}">
                                <div class="alert alert-danger" role="alert">Неправильний логін або пароль!</div>
                            </div>
                        </div>

                        <form method="post">
                            <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
                            <div class="form-group">
                                <input type="text" class="form-account first" id="username" placeholder="Username"
                                       name="username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-account last" id="password" placeholder="Password"
                                       name="password">
                            </div>
                            <button type="submit" class="btn btn-default">Увійти</button>
                        </form>
                    </div>
                    <div align="center" class="reg">Немає акаунту?: <a href="/registration">РЕЄСТРАЦІЯ</a></div>
                </div>
            </div>
        </main>
        <div th:replace="basic_inc/footer_auth :: footer_auth"></div>
    </div>
</div>



<!--<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" style="margin-top:45px">
                <div class="panel-heading">
                    <h3 class="panel-title">Login with Username and Password</h3>
                </div>
                <div class="panel-body">-->
                    <!--/*@thymesVar id="logout" type=""*/-->
                    <!--<div th:if="${logout}">
                        <div class="alert alert-info" role="alert">You've been logged out successfully.</div>
                    </div>-->
                <!--/*@thymesVar id="error" type=""*/-->
                <!--<div th:if="${error}">
                <div class="alert alert-danger" role="alert">Invalid Login or Password!</div>
                </div>
                </div>-->

            <!--<form method="post">
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
                <div class="form-group">
                    <label for="username">Login</label>
                    <input type="text" class="form-control" id="username" placeholder="Username"
                           name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           name="password">
                </div>
                <button type="submit" class="btn btn-default">Log in</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
<div align="center">Click to registrate: <a href="/registration">REGISTRATION</a></div>-->
</body>
<script type="text/javascript" src="/script/script.js"></script>
</html>