<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Авторизація</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" type="text/css" href="styles/media.css">

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
</head>
<body>
<div class="container">
    <div class="background light">
        <div th:replace="basic_inc/header :: header"></div>
        <main>
            <div class="tickets-info">
                <img src="images/icons/zhd.svg">
                <div th:if="${trips == 'No data'}">
                    <div class="alert alert-info" role="alert">Рейсів по вашому запиту немає.</div>
                </div>
                <div class="search-info" th:each="trip : ${trips}">
                    <span><span th:text="${trip.fromWhere}"></span> → <span th:text="${trip.whereTo}"></span></span>
                    <span th:text="${trip.departureDate}"></span>
                </div>
                <a href="/" class="change-search-btn">Змінити умови пошуку</a>
            </div>
            <div class="background dark">
                <div class="tickets-table">
                    <div>Поїзд</div>
                    <div>Відправлення</div>
                    <div>В дорозі</div>
                    <div>Прибуття</div>
                    <div>Доступні місця</div>
                </div>
                <div class="tickets">
                    <div class="ticket-zhd" th:each="trip : ${trips}">
                        <img src="images/icons/ukrzaliz.svg">
                        <div class="ticket-zhd-info">
                            <div><span th:text="${trip.tripName}"></span></div>
                            <div class="ticket-small"><span th:text="${trip.fromWhere}"></span> → <span th:text="${trip.whereTo}"></span></div>
                            <a href="#" class="change-search-btn route">Маршрут поїзда</a>
                        </div>
                        <div class="ticket-time-date">
                            <div th:text="${trip.departureTime}"></div>
                            <div class="ticket-small" th:text="${trip.departureDate}"></div>
                        </div>
                        <div class="ticket-timeline">
                            <span><span th:text="${trip.durationHours}"></span> год. <span th:text="${trip.durationMinutes}"></span> хв.</span>
                        </div>
                        <div class="ticket-time-date">
                            <div th:text="${trip.arrivalTime}"></div>
                            <div class="ticket-small" th:text="${trip.arrivalDate}"></div>
                        </div>
                        <div class="ticket-zhd-price">Від ₴ <span th:text="${trip.price}"></span></div>
                        <div class="ticket-zhd-type">Сидячий</div>
                        <a href="#" class="ticket-choose-btn">Вибрати</a>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="basic_inc/footer_main :: footer_main"></div>
    </div>
</div>
</body>
<script type="text/javascript" src="/script/script.js"></script>
</html>