<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<body>
    <footer th:fragment="footer_main">
        <div class="apps">
            <div class="apps-text">Доступно в</div>
            <div class="app-block">
                <button href="#" class="app-btn google-play">
                    <img src="images/icons/google%20play.svg">
                </button>
                <button href="#" class="app-btn app-store">
                    <img src="images/icons/apple.svg" >
                </button>
            </div>
        </div>
        <div class="footer-cols">
            <div class="footer-block">
                <div class="logo-block">
                    <a href="main.html" class="logo_link">
                        <img src="images/icons/logo%20light.svg">
                    </a>
                </div>
                <div class="social-media">
                    <nav>
                        <a href="#">
                            <img src="images/icons/facebook.svg">
                        </a>
                        <a href="#">
                            <img src="images/icons/instagram.svg">
                        </a>
                        <a href="#">
                            <img src="images/icons/telegram.svg">
                        </a>
                    </nav>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <ul>
                        <li class="li-title">Послуги</li>
                        <li><a href="#">Авіаквитки</a></li>
                        <li><a href="#">Ж/Д квитки</a></li>
                        <li><a href="#">Автобуси</a></li>
                        <li><a href="#">Готелі</a></li>
                        <li><a href="#">Авто</a></li>
                    </ul>
                </div>

                <div class="column">
                    <ul>
                        <li class="li-title">Більше</li>
                        <li><a href="#">Про нас</a></li>
                        <li><a href="#">Як працює сервіс</a></li>
                        <li><a href="#">Чому обрати нас</a></li>
                        <li><a href="#">Контакти</a></li>
                    </ul>
                </div>

                <div class="column">
                    <ul>
                        <li class="li-title">Сервіси</li>
                        <li><a href="#">Рейтинг авіакомпаній</a></li>
                        <li><a href="#">Порівняння цін</a></li>
                        <li><a href="#">Розклад рейсів</a></li>
                        <li><a href="#">Бонуси</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">&copy; Tickets.ua 2008-2020 Сервіс онлайн бронювання № ❶</div>
    </footer>
</body>
</html>